/* nav bar start */
:root {
    --underline-height: .5em;
  }
  
  body, html {
    height: 100%;
    margin:0;
    overflow-x: hidden;
    background-color: white;
}
  
  nav {
    position: relative;
    white-space: nowrap;
    background: white;
    padding: var(--underline-height) ;
    margin: 0em 0;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
  }

    ul{
        list-style: none;
        display:flex;
        background-color: white;
        margin:0;
        /* padding:20px; */
        justify-content: center;
    }

  
  ul li {
    display: inline-block;
    z-index: 10;
    /* width: 20%; */
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: black;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  .btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }


  
/* nav bar end */
h1{
    text-align: center;
}
#project a{
    display: flex;
    width: 100%;
    justify-content: center;
}

/*  */
.project {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 20vw;

    /* width: 50em; */
    /* height: 10em; */
    border: 1px solid black;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all ease-in-out 0.3s;
  }

  #projects a{
    text-decoration: none;
    color: black;   
    }

    #projects h2, p{
        text-align: center;
    }
  
  .project:hover {
    background-color: #fdfdfd;
    box-shadow:
     rgba(0, 0, 0, 0.09) 0px 2px 1px,
     rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px,
       rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }


.project img{
    width: 100%;
    height: 100%;
    max-width:500px;
}


/*  */





#buttons{
    display: flex;
    justify-content: center;
}

#buttons button{
    margin: 10px;
}
button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }





.hero-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("/JS_Project/images/expanded_boat_jpg.jpg");
  
    /* height */ 
    height: 90%;
  
    /* Position */
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5em;
  }
  .hero-text {
    text-align: center;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Open Sans";
  }


.flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}

.flex-container > div {
  background-color: white;
  width: 50%;
  margin-bottom: 1em;
  line-height: 1em;
  }

  .portrait{
    flex-basis: 30%;
    margin-left: 1em;
    background-image: url("/JS_Project/images/AE71A83F-7073-40F9-BC1E-A058888CC2E8_1_105_c.jpeg");

    height: 90%;
  

    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
  .about-me{
    height: 90%;
    flex: auto;
    margin-left: 1em;
    margin-right: 1em;
  }

  

  