/* nav bar start */
:root {
    --underline-height: .5em;
  }
  
  body, html {
    height: 100%;
    margin:0;
    overflow-x: hidden;
    background-color: white;
}
  
  nav {
    position: relative;
    white-space: nowrap;
    background: white;
    padding: var(--underline-height) ;
    margin: 0em 0;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
  }

    ul{
        list-style: none;
        display:flex;
        background-color: white;
        margin:0;
        /* padding:20px; */
        justify-content: center;
    }

  
  ul li {
    display: inline-block;
    z-index: 10;
    /* width: 20%; */
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: black;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  .btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }


  
/* nav bar end */
h1{
    text-align: center;
}

/*  */

.gallery {
    padding: 10px;
    max-width: 1500px;
  
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense; /* Controls how the auto-placement algorithm works, specifying exactly how auto-placed items get flowed into the grid. */
  }
  
  /* Stretch image vertically */
  .v-stretch {
    grid-row: span 2;
  }
  
  /* Stretch image horizontally */
  .h-stretch {
    grid-column: span 2;
  }
  
  /* Stretch image vertically and horizontally */
  .big-stretch {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Make the gallery items all matchy matchy on smaller screen sizes */
  @media screen and (max-width: 515px) {
    .v-stretch {
      grid-row: span 1;
    }
  
    .h-stretch {
      grid-column: span 1;
    }
  
    .big-stretch {
      grid-column: span 1;
      grid-row: span 1;
    }
  }
  